.navbar-brand:hover {
    text-decoration: underline;
    color: #ffc107 !important; /* amarillo Bootstrap (puedes cambiarlo) */
    transition: all 0.3s ease;
  }

body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to bottom, #eaf6ff, #ffffff);
    color: #212529;
  }

  h1, h3, h5 {
    color: #0d6efd; /* azul Bootstrap*/
    font-weight: 700;
  }

  h2 {
    color: #053c8d;
    font-weight: 700;
  }

  .card-body, .list-group-item, p, a, li, .navbar {
    font-family: inherit;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  .card {
    margin-bottom: 2rem;
  }

  body {
    background: linear-gradient(to bottom right, #d3f3df, #ffffff);
  }